body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#input {
  width: 100%;
  background: #cccccc52;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
}
